[Desktop Entry]
Name=Burp Professional
Encoding=UTF-8
Exec=/usr/share/burpsuite/burpsuitepro.sh
Icon=kali-burpsuite
StartupNotify=false
Terminal=false
Type=Application
Categories=03-webapp-analysis;03-06-web-application-proxies;
